.Card
  display: grid
  grid-template-columns: 20% 80%

  height: 100px
  width: 250px
  margin: .5em
  border-radius: .2em

  box-shadow: 5px 5px 20px $black
  border: 1px solid
  +clignAnimOff(1s)

  &.on

    +clignAnimOn(1s)
  *
    pointer-events: none